  .cart_container{

      h3{
          font-weight: 300;
    }
    .cart_list{
        width: 100%;
    }
    .cart_item_img{
        width: 80px;
    }
    .cart_card{
        box-shadow: none;
        // width: 100% !important;
    }
    .card-body{
        padding: 0 !important;
    }
    p{
        margin: 0 !important;
    }
    
}


    

    
    
    
    
    // ! Bootstrap css changes

        