.offcanvas_css{
    width: 300px !important;
}

.offcanvas-header{
    padding-bottom: 0 !important;
    margin: -3px !important;
}

.searching_img{
    width: 40px;
}
.modal-dialog{
    margin-top: 2rem !important;
}
// .active{
//     color: red !important;
// }