.navbar-collapse{
    flex-grow: unset !important;
    justify-content: space-between !important;
}
.cart_card{
    box-shadow: none !important;
}

.active{
    color:#ed4e09 !important;
}



//! cart code
.overflow_scroll::-webkit-scrollbar{
    height: 7px;
}
// .overflow_scroll::-webkit-scrollbar-track{
//     border-radius: 10px;
//     webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
// }
// .overflow_scroll::-webkit-scrollbar-thumb
// {
//     background-color: a6c53b;
//     webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
// }




.modal-dialog{
    position: fixed !important;
    right: 2px;
    top: -1.95rem !important;
}
.bootstrap_modal_footer{
    display: block !important;
}

@media only screen and (max-width: 700px){
    .cart_card{
        width: 100% !important;
    }
    .modal-dialog{
        top: -2rem !important;
    }
    .bootstrap_modal_footer{
        display: block !important;
    }
}